.nav{
  margin-top: 20px;
}

.navLink {
  color: white;
  font-size: 40px;

  text-decoration: none;
  transition: 0.3s;
  text-decoration: none;
}

.active {
  color: #e91e63;
  text-decoration: underline;

}