.header{
    position:absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    margin-right: 20px;


  }

header ul.nav{
  display: flex;
  margin-right: 29px;
  justify-content: center;
  align-items: center;
}


li{
  display: inline;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: aliceblue;
}





