.header{
    position:absolute;
   height: 100px;
   width: 100%;
    display: flex;
    padding-left: 20px;
    
   


  
  }
  .barberhood{
    color: rgb(236, 236, 236);
    margin-top: 35px;
  }



li{
  display: inline;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.header > :nth-child(3) {
  flex-grow: 1;
  display: flex;
  justify-content: center;
 
}

@media (max-width:768px) {
  .barberpin{
    margin-top: 10px;
    width: 50px;
    height: 70px;
  }
  .barberhood{
    
    margin-top: 35px;
    font-size: 20px;
  }
}



