.main {
  display: flex;

  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;

}

.main .mainLeft {
  margin-top: 10%;
  width: 100%;
  font-size: 60px;
  color: aliceblue;
}

.main .mainRight {
  width: 100%;
  margin-top: 10%;
  padding-right: 40px;
  font-size: 30px;
  color: aliceblue;
  text-align: left;
}
.bookBtn{
  width: 300px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-left: 15%;
  background-color: lch(86.85% 0.72 18.65);
  transition: background-color 0.5s ease, transform 0.3s ease-in-out;
  cursor: pointer;
}

.bookBtn:hover{
  background-color: rgb(132, 82, 18);
  color: aliceblue;
  transform: scale(1.05);
}



